<%-include('../includes/head',{title:title})%>
<%-include('../includes/header')%>
<<<<<<< HEAD
<%-include('../includes/navbar',{isLoggedIn:isLoggedIn,title:title})%>
=======
<%-include('../includes/navbar',{title,title:isLoggedIn,isLoggedIn})%>
>>>>>>> session
<main class="main">
    <form class="centered signup"action="/signup" method="post">

        <label class="email-label" for="email">E-mail</label>
        <input name="email" class="signup-email"type="text">

        <label class="username-label" for="username">Username</label>
        <input name="username" class="signup-username" type="text">

        <label class="password-label" for="password">Password</label>
        <input name="password" class="signup-password" type="password">

        <label class="confirm-password-label" for="confirm-password">Confirm Password</label>
        <input name="confirmPassword" class="signup-password-confirm" type="password">

        <button class="button" type="submit">Signup</button>
    </form>
    <p class="already-not-message">Already a member? &nbsp;<a href="/login">Login</a></p>
    <%if(errors.length!=0){%>
        <p class="errorMsg">ERR:&nbsp;<%=errors[0].msg%></p>
    <%}%>
</main>
<%-include('../includes/tail')%>