<%-include('../includes/head',{title:title})%>
<%-include('../includes/header')%>
<%-include('../includes/navbar',{title:title,isLoggedIn:isLoggedIn})%>
<main class="main">
    <form 
        action="<%if(title==='New Post'){%>/create<%}%><%if(title==='Edit Mode'){%>/edit-post/<%=oldpost._id.toString()%><%}%>" 
        method="post" 
        class="form centered"
        enctype="multipart/form-data"
    >
        <label for="heading" class="heading-label">Title</label>
        <input
            type="text" 
            name="heading" 
            class="heading"
            value="<%if(typeof oldpost!=='undefined'){%><%=oldpost.heading%><%}%>"
        >
        <label for="image" class="image-label">Image</label>
        <input type="file" name="image" class="image">
        <label for="content" class="content-label">Content</label>
        <textarea name="content" class="content">
            <%if(typeof oldpost!=='undefined'){%><%=oldpost.content%><%}%>
        </textarea>
        <button type="reset" class="button reset">reset</button>
        <button type="submit" class="button submit">submit</button>
        
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    </form>
</main>
<%-include('../includes/tail')%>