<%-include('../includes/head',{title:title})%>
<%-include('../includes/header')%>
<%-include('../includes/navbar',{title:title,isLoggedIn:isLoggedIn})%>
<main class="main">
    <div class="wrapper">
        <div class="heading"><%=post.heading%></div>
        <div class="post-authour">By <%=post.creator.username%></div>
        <%if(typeof user!=='undefined'&&user.toString()===post.creator._id.toString()){%>
            <a href="/edit-post/<%=post._id%>" class="button edit-post">Edit</a>    
        <%}%>
        <div class="content"><%=post.content%></div>
    </div>
</main>
<%-include('../includes/tail')%>