<%-include('./includes/head',{title:title})%>
<%-include('./includes/header')%>
<<<<<<< HEAD
<%-include('./includes/navbar',{isLoggedIn:isLoggedIn,title:title})%>
=======
<%-include('./includes/navbar',{title:title,isLoggedIn:isLoggedIn})%>
>>>>>>> session
<main class="main">
    <h1>E:404 PAGE NOT FOUND</h1>
</main>
<%-include('./includes/tail')%>