<%-include('./includes/head',{title:title})%>
<%-include('./includes/header')%>
<%-include('./includes/navbar',{title:title,isLoggedIn:isLoggedIn})%>
<main class="main">
    <h1>E:500 INTERNAL SERVER ERROR</h1>
    <p><%=message%></p>
</main>
<%-include('./includes/tail')%>