<%-include('./includes/head',{title:title})%>
<%-include('./includes/header')%>
<%-include('./includes/navbar',{title:title})%>
    <main class="main">
        <%if(posts.length>0){%>
            <%for(let i=0;i<posts.length;i++){%>
                <div class="post-wrapper">
                    <h1 class="post-heading"><%=posts[i].heading%></h1>
                    <p class="post-authour"><%=posts[i].creator.name%></p>
                </div>
            <%}%>
        <%}else{%>
            <h1>NO POSTS FOUND</h1>    
        <%}%>
        <%if(currPage!=firstPage){%>
            <a class="button prev-page" href="/?page=<%=parseInt(currPage)-1%>">prev</a>
        <%}%>
        <p class="page-indicator">Page : <%=currPage%>/<%=lastPage%></p>
        <%if(currPage!=lastPage){%>
            <a class="button next-page" href="/?page=<%=parseInt(currPage)+1%>">next</a>
        <%}%>
        

    </main>
<%-include('./includes/tail')%>