<%-include('../includes/head',{title:title})%>
<%-include('../includes/header')%>
<%-include('../includes/navbar',{title:title,isLoggedIn:isLoggedIn})%>
<main class="main">
    <div class="wrapper">
        <div class="heading"><%=post.heading%></div>
        <%if(userId.toString()===post.creator.toString()){%>
        <form action="/delete-post/<%=post._id%>" method="post" class="delete-post-form">
            <button type="submit" class="button">Delete</button>
        </form>
        <%}%>
        <div class="content"><%=post.content%></div>
    </div>
</main>
<%-include('../includes/tail')%>